<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Bem-vindo, {{ username }}!</h1>
    <p>Este é seu painel.</p>

    {% if is_admin %}
        <h2>Funcionalidades de Admin</h2>
        <p><a href="/usuarios">Ver Todos os Usuários</a></p>
    {% endif %}

    <h2>Seus Gastos:</h2>
    <table>
        <tr>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Data</th>
        </tr>
        {% for gasto in gastos %}
        <tr>
            <td>{{ gasto[1] }}</td>
            <td>{{ gasto[2] }}</td>
            <td>{{ gasto[3] }}</td>
        </tr>
        {% endfor %}
    </table>

    <p><a href="/login/logout">Sair</a></p>
</body>
</html>
